---
layout: base.njk
---
<header>
    <h1>{{ mainpage.title or site.title }}</h1>

    {% set subtitle = mainpage.subtitle or site.description%}
    {% if subtitle %}
        <p>{{ subtitle }}</p>
    {% endif %}
</header>
<main>
    <hr>
    {% set entries = mainpage.menu %}
    {% include "menu.njk" %}
</main>