---
layout: base.njk
---
<a href="/">{{ site.back_home_text }}</a>

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | formatDate }}</time>
  </p>
  
  <h1>{{ title }}</h1>
  
  {{ content | safe  }}
</article>